  @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
  
  #progress {
      
               width: 88.6%; 


    float: left;
    border-radius: 6px;
    height: 20px;
    background: #36B8E9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #71F7F2, #36B8E9); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(-90deg, #71F7F2, #36B8E9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #71F7F2, #36B8E9); /* Standard syntax */
    z-index: 333;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }

  #countdown-wrap {
    width: 110%;
    height: 30px;

    font-family: 'Roboto', sans-serif, Arial;
    font-weight: 500;
  }
  #goal {
    font-size: 35px;
    text-align: right;
    width:100%;
  }
  @media only screen and (max-width: 540px) {
    #goal {
      text-align: center;
    }
  }


  #glass {
    width: 90%;
    height: 20px;
    border-radius: 6px;
    background: #ee0e0;
    float: left;
    overflow: hidden;
    background-color: #dee0e0;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  }
  }
