.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    height: 60px;
    width: 80%;
    left: 20%;
    padding: 10px;
    border-radius: 12px;
    margin-top: 5%;
    margin: 1% 0 0 10%;
}

.search-bar > .icon {
    width: 50px;
    height: 50px;
    padding-right: 10px;
    border-right: 3px solid #aaaaaa;
    background-size: 70%;
    background-position: 25% center;
    background-repeat: no-repeat;
    background-image: url(https://www.stickpng.com/assets/images/585e4ae1cb11b227491c3393.png);
}

.search-bar > input[type=text] {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    flex: 1;
    text-align: center;
    background: none;
    border: none;
    height: 100%;
    outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10;
  padding: 0;
  width: 80%;
  margin: 0 0 0 10%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
      
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
      
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}