@media only screen and (min-device-width: 0px) and (max-device-width: 768px) 
{
	.welcomeshadow 
	{
		visibility:hidden;
	}
	.search-bar
	{
		margin: 0 0 0 2.5%;
		width: 90%;
	}
	.mobileinput
	{
		font-size: 15px;
	}
}