@media (min-width:100px)  {  
	.welcomeshadow 
	{
		visibility:hidden;
	}
	.search-bar
	{
		margin: 0 0 0 5%;
		width: 90%;
	}
	.mobileinput
	{
		font-size: 15px;
	}
}

@media (min-width:400px)  {  
	.welcomeshadow 
	{
		visibility:hidden;
	}
	.search-bar
	{
		margin: 0 0 0 5%;
		width: 90%;
	}
	.mobileinput
	{
		font-size: 15px;
	}
}

@media (min-width:400px)  {  
	.welcomeshadow 
	{
		visibility:hidden;
	}
	.search-bar
	{
		margin: 0 0 0 5%;
		width: 90%;
	}
	.mobileinput
	{
		font-size: 15px;
	}
}

@media (min-width:760px)  {  
	.welcomeshadow 
	{
		visibility:hidden;
	}
	.search-bar
	{
		margin: 0 0 0 5%;
		width: 90%;
	}
	.mobileinput
	{
		font-size: 20px;
	}
}

@media (min-width:920px)  {  
	.welcomeshadow 
	{
		visibility:hidden;
	}
	.search-bar
	{
		margin: 0 0 0 5%;
		width: 90%;
	}
	.mobileinput
	{
		font-size: 10px;
	}
}

@media (min-width:921px)  {  
	.welcomeshadow 
	{
		visibility:hidden;
	}
	.search-bar
	{
		margin: 0 0 0 5%;
		width: 90%;
	}
	.mobileinput
	{
		font-size: 25px;
	}
}

@media (min-width:1370px)  {  
    .welcomeshadow 
	{
		visibility:visible;
	}
	.search-bar
	{
		margin: 0 0 0 20%;
		width: 60%;
	}
	.mobileinput
	{
		font-size: 25px;
	}
}